body {
  background-color: #141e46;
  font-family: "Delius", cursive;
}

a {
  color: #031839;
  transition: all 200ms ease;
}

a:hover {
  color: #ff597b;
}

main {
  padding: 10px 0 20px;
  margin: 30px 0;
  border-top: 1px solid rgba(20, 30, 70, 0.1);
  border-bottom: 1px solid rgba(20, 30, 70, 0.1);
}
.template {
  background-color: #bad7e9;
  max-width: 700px;
  border-radius: 8px;
  margin: 100px auto;
  padding: 3%;
}

.search-bar {
  text-align: center;
}
.search-city {
  background-color: rgba(20, 30, 70, 0.1);
  color: #ff597b;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}

.search-button {
  background-color: #141e46;
  color: #bad7e9;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 16px;
  margin: 0 10px auto;
  transition: all 200ms ease;
}

.search-button:hover {
  background-color: #ff597b;
  color: #141e46;
}

.temperature-data {
  display: flex;
  justify-content: space-between;
}

.city {
  color: #141e46;
  font-size: 60px;
  margin: 20px 0 0 0;
}

.temperature-data strong {
  color: #ff597b;
}

.value-container {
  display: flex;
}

.icon {
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

.temp-value {
  font-size: 130px;
  line-height: 140px;
}

.unit {
  font-size: 40px;
  margin-top: 5px;
}

.weather-forecast-container {
  margin-top: 50px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
}

.forecast-data {
  background-color: #031839;
  color: #bad7e9;
  border-radius: 30%;
  margin: 2px;
  text-align: center;
  padding: 10px;
}

.forecast-icon {
  text-align: center;
  width: 70%;
  display: block;
  margin: 0 auto;
}

.forecast-temp strong {
  color: rgb(255, 89, 123);
}

.forecast-temp {
  color: rgba(255, 89, 123, 0.9);
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.temperature-value {
  margin: 0 5px;
}

footer {
  text-align: center;
  font-size: 12px;
}
